@import "../../../../variables";

.card {
  border-color: white;
}

input,
textarea,
select {
  border-color: $blue;
  margin-bottom: 10px !important;
  width: 85%;
}

.form-group {
  width: 70%;
  margin-left: 20%;
}

button {
  width: 60%;
  margin-left: 20%;
  color: white;
  background-color: $blue;
  border-color: $blue;
}

.btnShow {
  width: 60%;
}

.text-danger {
  font-size: 13px;
}

.tags-view {
  border-color: $blue;
}
