@import '../../../../variables';

.card {
  border-color: white;
}

input,
textarea,
select {
  border-color: $blue;
}
input {
  width: 100%;
}

button {
  width: 100%;
  color: white;
  background-color: $blue;
  border-color: $blue;
}

.btnShow {
  width: 50%;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-template-rows: 1fr 0.2fr;
  grid-column-gap: 9px;
  grid-row-gap: 0px;
}

.parent > div {
  text-align: center;
}

.vertical-column-1 {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
}
.vertical-column-2 {
  grid-area: 1 / 2 / 2 / 3;
}
.button-submit-column {
  grid-area: 2 / 1 / 3 / 3;
}

.text-danger {
  font-size: 13px;
}

.tags-view {
  border-color: $blue;
}
