@import '../../variables';

.container {
  font-family: $font-family-base;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.imgShow {
  width: 350px;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: black;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 600px) {
  .container,
  .tags > h1 {
    text-align: center;
  }
}

@media screen and (max-width: 990px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
