<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <div class="selectMenu">
            <label
              i18n="
                Edit Author Select|Words Edit Author Select@@Words Edit Author
                Select"
              >Select an Author :</label
            >
            <select
              (click)="getVal()"
              class="form-control"
              [(ngModel)]="selectedGroup"
            >
              <option *ngFor="let author of authorsList" [ngValue]="author">{{
                author.name
              }}</option>
            </select>
          </div>
          <hr />
          <br />

          <div *ngIf="chosenAuthor">
            <form
              class="form"
              [formGroup]="updateAuthorForm"
              (ngSubmit)="onUpdate()"
            >
              <div class="form-group">
                <label
                  i18n="
                    Edit Author Firstname Input|Words Edit Author Firstname
                    Input@@Words Edit Author Firstname Input"
                  >Firstname : <b class="text-error">*</b></label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="first_name"
                  placeholder="{{ chosenAuthor.first_name }}"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    (registerUpdateFormControl.first_name.touched ||
                      submitted) &&
                    registerUpdateFormControl.first_name.errors?.required
                  "
                >
                  Firstname is required!
                </span>
              </div>
              <div class="form-group">
                <label
                  i18n="
                    Edit Author Middlename Input|Words Edit Author Middlename
                    Input@@Words Edit Author Middlename Input"
                  >Middlename :</label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="middle_names"
                  placeholder="{{ chosenAuthor.middle_names }}"
                />
              </div>
              <div class="form-group">
                <label
                  i18n="
                    Edit Author Lastname Input|Words Edit Author Lastname
                    Input@@Words Edit Author Lastname Input"
                  >Lastname : <b class="text-error">*</b></label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="last_name"
                  placeholder="{{ chosenAuthor.last_name }}"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    (registerUpdateFormControl.last_name.touched ||
                      submitted) &&
                    registerUpdateFormControl.last_name.errors?.required
                  "
                >
                  Lastname is required!
                </span>
              </div>
              <div class="form-group">
                <label
                  i18n="
                    Edit Author About Input|Words Edit Author About Input@@Words
                    Edit Author About Input"
                  >About the Author :</label
                >
                <textarea
                  class="form-control"
                  formControlName="about"
                  rows="6"
                  placeholder="{{ chosenAuthor.about }}"
                ></textarea>
              </div>
              <div class="form-group">
                <button
                  i18n="
                    Edit Author Button|Words Edit Author Buttont@@Words Edit
                    Author Button"
                  [disabled]="!updateAuthorForm.valid"
                  type="submit"
                  class="btn"
                >
                  Update Author
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
