<app-header></app-header><br /><br /><br /><br /><br /><br />

<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
          <img
            alt="Author Pic"
            src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
            id="author-image"
            class="img-circle img-responsive"
          />
        </div>
        <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
          <div class="container">
            <h2>{{ authorInfo.name }}</h2>
          </div>
          <hr />
          <div class="container details">
            {{ authorInfo.about }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
