@import '../../variables';

.container {
  font-family: $font-family-base;
}

#author-image {
  border: $blue 1px solid;
}

.panel {
  border-color: white;
}

button {
  width: 100%;
  color: white;
  background-color: $blue;
  border-color: $blue;
}

.container {
  padding-top: 60px;
}
