<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4"><br /><br />
          <img alt="Author Pic" src="../../assets/person.png" id="author-image" class="img-circle img-responsive" />
          <div>Icons made by <a href="https://www.flaticon.com/authors/vitaly-gorbachev" title="Vitaly Gorbachev">Vitaly
              Gorbachev</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
          <div class="container">
            <h2>{{ authorInfo.name }}</h2>
          </div>
          <hr />
          <div class="container details">
            {{ authorInfo.about }} <br /><br />

            <h4>Books written :</h4>
            <div *ngFor="let book of authorInfo.books">
              <a routerLink="/book/{{book.isbn13}}">{{
                book.title
              }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>