<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <div class="selectMenu">
            <label
              i18n="
                Edit Book Select|Words Edit Book Select@@Words Edit Book Select"
              >Select a Book :</label
            >
            <select
              (click)="getBook()"
              class="form-control"
              [(ngModel)]="selectedGroup"
            >
              <option *ngFor="let books of booksList" [ngValue]="books">{{
                books.title
              }}</option>
            </select>
          </div>
          <hr />
          <br />

          <div *ngIf="chosenBook">
            <div
              class="imagePreview"
              *ngIf="previewUrl"
              style="text-align: center;"
            >
              <img [src]="previewUrl" height="200" /> <br />
            </div>
            <br />

            <form
              class="form"
              [formGroup]="updateBookForm"
              (ngSubmit)="onSubmit()"
            >
              <div class="uploadImageMenu">
                <label
                  i18n="
                    Books Image Update|Words Books Image Update@@Words Books
                    Image Update"
                  >Select image to update :
                </label>
                <input
                  style="display: none;"
                  type="file"
                  (change)="onFileChanged($event)"
                  accept="image/bmp,image/gif,image/jpeg,image/png"
                  autocomplete="none"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="false"
                  class="form-control"
                  formControlName="image"
                  #fileInput
                />
                <button
                  i18n="
                    Edit Book Image Input|Words Edit Book Image Input@@Words
                    Edit Book Image Input"
                  (click)="fileInput.click()"
                  class="btn"
                >
                  Select File
                </button>
              </div>
              <br /><br />
              <div class="parent">
                <div class="div1">
                  <div class="form-group">
                    <label
                      i18n="
                        Edit Book ISBN10 Input|Words Edit Book ISBN10
                        Input@@Words Edit Book ISBN10 Input"
                      >ISBN10 Number <b class="text-error">*</b>
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="isbn10"
                    />

                    <span
                      class="text-danger"
                      *ngIf="
                        (registerFormControl.isbn10.touched || submitted) &&
                        registerFormControl.isbn10.errors?.required
                      "
                    >
                      ISBN-10 number is required!
                    </span>
                    <span
                      class="text-danger"
                      *ngIf="
                        registerFormControl.isbn10.touched &&
                        registerFormControl.isbn10.errors?.pattern
                      "
                    >
                      Enter a valid ISBN-10 number!
                    </span>
                  </div>
                  <br />

                  <div class="form-group">
                    <label
                      i18n="
                        Edit Book ISBN13 Input|Words Edit Book ISBN13
                        Input@@Words Edit Book ISBN13 Input"
                      >ISBN 13 Number <b class="text-error">*</b>
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="isbn13"
                    />
                    <span
                      class="text-danger"
                      *ngIf="
                        (registerFormControl.isbn13.touched || submitted) &&
                        registerFormControl.isbn13.errors?.required
                      "
                    >
                      ISBN-13 number is required!
                    </span>
                    <span
                      class="text-danger"
                      *ngIf="
                        registerFormControl.isbn13.touched &&
                        registerFormControl.isbn13.errors?.pattern
                      "
                    >
                      Enter a valid ISBN-13 number!
                    </span>
                  </div>
                  <br />

                  <div class="form-group">
                    <label
                      i18n="
                        Edit Book Title Input|Words Edit Book Title Input@@Words
                        Edit Book Title Input"
                      >Title <b class="text-error">*</b>
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="title"
                    />
                    <span
                      class="text-danger"
                      *ngIf="
                        (registerFormControl.title.touched || submitted) &&
                        registerFormControl.title.errors?.required
                      "
                    >
                      Title of the book is required!
                    </span>
                  </div>
                  <br />

                  <div class="form-group">
                    <label
                      i18n="
                        Edit Book Author Input|Words Edit Book Author
                        Input@@Words Edit Book Author Input"
                      >Author
                    </label>
                    <select class="form-control" formControlName="author">
                      <option
                        selected="selected"
                        value="{{ chosenBook.author.id }}"
                        >{{ chosenBook.author.name }}</option
                      >
                      <option
                        *ngFor="let author of authorsList"
                        [value]="author.id"
                        >{{ author.name }}</option
                      >
                    </select>
                  </div>
                  <br />

                  <div class="form-group">
                    <label
                      i18n="
                        Edit Book Abstract Input|Words Edit Book Abstract
                        Input@@Words Edit Book Abstract Input"
                      >Abstract
                    </label>
                    <textarea
                      class="form-control"
                      formControlName="about"
                      rows="6"
                    ></textarea>
                  </div>
                  <br />
                </div>
                <div class="div2">
                  <div class="form-group">
                    <label
                      i18n="
                        Edit Book Publisher Input|Words Edit Book Publisher
                        Input@@Words Edit Book Publisher Input"
                      >Publisher
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="publisher"
                    />
                  </div>
                  <br />

                  <div class="form-group">
                    <label
                      i18n="
                        Edit Book Date Publishe Input|Words Edit Book Date
                        Publishe Input@@Words Edit Book Date Publishe Input"
                      >Date Published
                    </label>
                    <input
                      type="date"
                      class="form-control"
                      formControlName="date_published"
                    />
                  </div>
                  <br />

                  <div class="form-group">
                    <label
                      i18n="
                        Edit Book Tags Input|Words Edit Book Tags Input@@Words
                        Edit Book Tags Input"
                      >Tags
                    </label>
                    <select class="form-control" formControlName="tags">
                      <option *ngFor="let tag of tagsList" [value]="tag.id">{{
                        tag.description
                      }}</option>
                    </select>
                  </div>
                  <br />

                  <div class="form-group">
                    <label
                      i18n="
                        Edit Book About Input|Words Edit Book About Input@@Words
                        Edit Book About Input"
                      >About
                    </label>
                    <textarea
                      class="form-control"
                      formControlName="about"
                      rows="11"
                    ></textarea>
                  </div>
                  <br />
                </div>
                <div class="div3">
                  <button
                    i18n="
                      Add Book Button|Words Add Book Button@@Words Add Book
                      Button"
                    [disabled]="!updateBookForm.valid"
                    type="submit"
                    class="btn"
                  >
                    Update Book
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
