
$blue: #007fba;
$yellow: #ffc72c;
$gray-500: #6f6f6f;
$gray-400: #e6e7e8;
$font-family-monospace: Poppins;
$enable-hover-media-query: true;
$enable-responsive-font-sizes: true;
$link-hover-decoration: none;
$nav-tabs-link-hover-border-color: #007fba;
$nav-tabs-link-active-color: white;
$nav-tabs-link-active-bg: #007fba;
$nav-tabs-link-active-border-color: $white;
$nav-pills-link-active-color: $white;
$nav-pills-link-active-bg: #007fba;
$navbar-dark-color: white;
$badge-font-size: 77%;
$progress-bar-bg: #007fba;
$progress-bar-color: #e6e7e8;
$carousel-control-color: #e6e7e8;
$print-page-size: a4;
$font-family-base: Poppins;
$headings-font-family: Poppins;
$font-family-sans-serif: Poppins;
$input-btn-font-family: Poppins;
$btn-font-family: Poppins;
$input-font-family: Poppins;
$custom-file-font-family: Poppins;
$custom-select-font-family: Poppins;