<div id="container">
  <img src="../../assets/1.DVT_icon(RGB).png" alt="DVT Logo" class="img-responsive"
    style="width: 200px; height: 200px;" />
  <h1 i18n="DVT Books|Words DVT Books@@Words DVT Books">DVT Books</h1>
  <p i18n="
      Home-Page description|WordsHome-Page description@@Words Home-Page
      description">
    DVT's personal book library where you can find many programming books , on
    many different topics.
  </p>
  <button (click)="auth.login()" *ngIf="!auth.loggedIn" class="button">
    Take me to login
  </button>
</div>